/*.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
  }
.header{
    grid-column: col-start 3 / span 8
}
.main{
    grid-column: col-start 3 / span 8
}
*/
