/* reset start */
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Meyer's reset end */

/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a:active, a:hover {
	outline: 0;
}

/* reset end */



/* Start of fluid grid styles */
/*----------------------------*/

.row:before, .clearfix:before, .row:after, clearfix:after {
	content: "";
	display: table;
}

.row:after, clearfix:after {
	clear: both;
}

.row, .clearfix {
	padding: 0 0 0 0.5em;
	zoom: 1;
}

.one-column {
	width: 8.333%;
}
.two-column {
	width: 16.666%;
}
.three-column{
	width: 24.999%;
}
.four-column{
	width: 33.332%;
}
.five-column{
	width:41.665%;
}
.six-column{
	width:49.998%;
}
.seven-column{
	width:58.331%;
}
.eight-column{
	width:66.664%;
}
.nine-column{
	width:74.997%;
}
.ten-column{
	width: 83.33%;
}
.eleven-column{
	width:91.663%;
}
.twelve-column{
	width:100%;
	float:left;
}

/* yours should probably go HERE */

/*End of fluid grid styles.*/
/*----------------------------*/

body {
	font: .81em/150% "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #444;
}
a {
	color: #6685CC;
	text-decoration: none;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #B8CC66;
}
a:focus {
	outline: none;
}

.left {
	float: left;
}
.right {
	float: right;
}

#wrapper-container {
	background: url(../img/bg-1.png) no-repeat;
	width: 80%;
	max-width: 1140px;
	margin: 0 auto 3em auto;
}

/* -------------------------------- Header */
header {
	position: relative;
	margin-top: 3em;
}

#logo {
	display: inline-block;
	background: none;
	width: 30%
}

#logo img {
	width: 100%;
	max-width: 288px;
	min-width: 190px;
}

/* -------- Main Navigtion */
nav {
	position: absolute;
	right: 0;
	top: 1.5em
}

nav ul li {
	float: right;
	display: inline-block;
	margin-left: 1px;
}

nav ul li a {
	text-decoration: none;
	display: block;
	padding: 0.5em 0.8em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

nav ul li a:link {
	background: #6685CC;
	color: #fff;
}

nav ul li a:hover {
	background: #B8CC66;
	color: #fff;
}

/* ----------- Login Section */

#login {
	padding-top: 0.6em;
	text-align: center;
	position: absolute;
	right: 0;
	top: -2.4em;
}

.login-form-icons {
	font-size: 1.3em;
	color: #63747e;
	vertical-align: middle;
	display: inline-block
}

#login-form {
	float: left;
	display: none;
}

#login input {
	width: 10.5em;
	font-size: 0.9em;
	padding: 0.3em;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#login-link-text {
	display: inline-block;
}

#login a.show-form, a#login-submit {
	float: right;
	text-align: center;
	padding: 0.2em 1.8em;
	display: block;
	position: relative;
	border: 1px solid #aaa;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
}

#login a.show-form:link {
	background: #fff;
	color: #999;
}

#login a.show-form:link span {
	color: #999;
}

#login a.show-form:hover {
	background: #555;
	color: #fff;
}

#login a.show-form:hover span {
	color: #fff;
}

/* login form submit link */
a#login-submit {
	display: none;
	float: left;
	margin-left: 1em;
}

a#login-submit:link {
	background: #555;
	color: #fff;
}

a#login-submit:hover {
	background: #B8CC66
}

#authorized {
	display: none;
	width: 9.5em;
	float: right;
	text-align: left;
	line-height: 1.2;
}

#user-authorized {
	font-weight: bold;
	color: #666;
	font-size: 1em;
}

.authorized-icon {
	height: 2em;
	font-size: 2em;
	color: #999;
	display: block;
	float: left;
	margin: 0.1em 0.3em 0 0;
}

#authorized a {
	display: inline;
	background: none;
	font-size: 0.9em;
	padding: 0;
}

#authorized a:link {
	color: #119bf6;
}

#authorized a:hover {
	color: #555;
}

/* ------------------------- Main top section */
#main-top-section {
	background: url(../img/child-1.png) no-repeat right bottom, url(../img/bg-2.png) no-repeat 20% bottom;
	height: auto;
	min-height: 25em;
	margin-top: 2em;
	border-bottom: 1px dotted #555;
}
.donate-button {
	background: #ffa600;
	background: -webkit-gradient(linear, left top, left bottom, from(#feca69), to(#ffa600));
	background: -webkit-linear-gradient(top, #feca69, #ffa600);
	background: -moz-linear-gradient(top, #feca69, #ffa600);
	background: -ms-linear-gradient(top, #feca69, #ffa600);
	background: -o-linear-gradient(top, #feca69, #ffa600);
	display: block;
	width: 17em;
	margin-left: 20%;
	padding: 1em 2em;
	border: 0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	vertical-align: middle;
	cursor: pointer;
}
.donate-button:hover {
	background: #B8CC66;
	color: #fff;
}
.donate-button:active {
	background: #1b435e;
}
.donate-button-submit {
	margin: 0;
}
.donate-button-header {
	font-size: 1.45em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.donate-2nd-line {
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
}

p.donation-address {
	padding: 2em 0;
}

/* Donation form  */

#donate-form-container {
	display: none;
	height: auto;
	min-height: 25em;
	padding-top: 1.5em;
}

/* some basic styles for form elements */
#donate-form-container select, input[type=text], input[type=email] {
	width: 75%;
	margin-bottom: 0.4em;
	color: #999;
}

input[type=text], input[type=email] {
	border: 1px solid #999;
	padding: 0.33em
}

#donate-form-container h3 {
	font-size: 1.4em;
	font-weight: normal;
}

#donate-later-link {
	background: #fff;
	/*width: 13em;*/
	/*height: auto;*/
	padding: 0.2em 0.6em;
	margin: 1em 0 1.2em 2em;
	text-align: center;
	display: inline-block;
	border: 1px solid #f0f0f0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#make-payment h4 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.5em 0;
	color: #666;
}

#make-payment p {
	font-size: 0.9em;
	margin-bottom: 1.4em;
}

label.donation-heading {
	display: block;
	padding: 1em 0;
	color: #666;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 130%;
}

/* --------------- Media queries -------------- */
/* set breakpoints for different viewport size */

@media only screen and (max-width: 960px) {
	.breakpoint-960 .cell {
		float: none;
		width: 100%;
		padding-bottom: 0.5em
	}
	#make-payment p {
		width: 60%;
	}
	#donation-amount.five-column {
		width: 30%
	}
	#donor-info.six-column {
		width: 35%
	}
	#donate-form-container select, input[type=text], input[type=email] {
		width: 65%;
	}
}

/* would be good to have more here */
@media only screen and (max-width: 768px){
	.breakpoint-768 .cell{
		float:none;
		width:100%;
		padding-bottom: 0.5em;
	}
	#main-top-section{
		background: url(../img/bg-2.png) no-repeat 20% bottom;
	}
	#logo {
		margin-top: 0.5em;
	}
	.login-form-icons {
		display: none
	}
	header{
		margin-top: 1em;
	}
	#login{
		top: 1em;
	}
	#logo.four-column{
		width: 40%;
	}
	nav{
		width:100%;
		margin-top: 3.8em;
	}
	nav ul li{
		width: 24.5%;
		margin-left: 0.5%;
	}
	nav li a{
		text-align: center;
		font-size: 0.6em;
	}
	#login-link-text{
		display: none;
	}
	a#login-submit{
		padding: 0.2em 0.5em;
	}
	#login input{
		width: 9em;
	}

		
}
@media only screen and (max-width: 640px){
	.breakpoint-640 .cell{
		float: none;
		width: 100%;
		padding-bottom: 0.5em;
	}
	header{
		margin-top: 1em;
	}
	#login{
		top: 1em;
	}
	#logo.four-column{
		width: 40%;
	}
	nav{
		width:100%;
		margin-top: 2.8em;
	}
	nav ul li{
		width: 24.5%;
		margin-left: 0.5%;
	}
	nav li a{
		text-align: center;
		font-size: 0.6em;
	}
	#login-link-text{
		display: none;
	}
	a#login-submit{
		padding: 0.2em 0.5em;
	}
	#login input{
		width: 9em;
	}
}

@media only screen and (max-width: 480px){
	.breakpoint-480 .cell{
		float:none;
		width:100%;
		padding-bottom: 0.5em;
	}
	#logo{
		padding-bottom:11em;
	}
	nav ul li{
		float:none;
		width:100%;
		margin-left: 0;
		margin-bottom: 0.5%;
	}
	#main-top-section{
		background: url(../img/bg-2.png) no-repeat 20% bottom;
	}
	.donate-button{
		width: 14em;
		margin-left: auto;
		margin-right: auto;
	}
	.donate-button-header{
		font-size: 1.1em;
	}
	.donate-2nd-line{
		font-size:0.9em;

	}
	#donate-later-link{
		display:block;
		width:11em;
		margin-left:auto;
		margin-right:auto;
	}
	#make-payment{
		widows: 100%;
	}
	#donation-amount.five-column{
		width:50%;
	}
	#donor-info.six-column{
		width: 50%;
	}
	#donate-form-container select, input[type=text], input[type=email]{
		width: 90%;
	}
}
@media only screen and (max-width: 768px){
	.breakpoint-768 .cell{
		float:none;
		width:100%;
		padding-bottom: 0.5em;
	}
	#main-top-section{
		background: url(../img/bg-2.png) no-repeat 20% bottom;
	}
	#logo {
		margin-top: 0.5em;
	}
	.login-form-icons {
		display: none
	}

		
}


/* -----------END Media queries ---------------*/

/* Icon Fonts */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.svg#icomoon') format('svg'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-user:before {
	content: "\21";
}
.icon-locked:before {
	content: "\22";
}
.icon-enter:before {
	content: "\23";
}
.icon-facebook:before {
	content: "\24";
}
.icon-gplus:before {
	content: "\25";
}
.icon-feed:before {
	content: "\26";
}
.icon-twitter:before {
	content: "\27";
}
.icon-cancel:before {
	content: "\28";
}
